<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @document.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<%= link_to 'Edit', edit_user_document_path(@user, @document) %> |
<%= link_to 'Back', user_documents_path(@user) %>
